<div class="archive">
    <% page.posts.each(function(item){ %>
    <article class="<%= item.layout %>">
        <div class="post-content">
            <!--<div class="icon"></div>-->
            <time datetime="<%= item.date.toDate().toISOString() %>" style="font-size: 12px;"><%= item.date.format(config.date_format) %></time>
            <% if (item.link){ %>
            <% if (item.title){ %>
            <span class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></span>
            <% } else { %>
            <span class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></span>
            <% } %>
            <% } else { %>
            <span class="title" style="font-size: 20px;"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></span>
            <% } %>
        </div>
    </article>
    <% }); %>
</div>
<%- partial('pagination') %>